@import "tailwindcss";
@import "tw-animate-css";
@import "shadcn/tailwind.css";
@import "@fontsource-variable/inter";

@custom-variant dark (&:is(.dark *));

:root {
    --background: oklch(0.9848 0 0);
    --foreground: oklch(0.2570 0.0143 285.3525);
    --card: oklch(1.0000 0 0);
    --card-foreground: oklch(0.2570 0.0143 285.3525);
    --popover: oklch(1.0000 0 0);
    --popover-foreground: oklch(0.2570 0.0143 285.3525);
    --primary: oklch(0.7074 0.1471 294.6214);
    --primary-foreground: oklch(0.2570 0.0143 285.3525);
    --secondary: oklch(0.9306 0.0112 298.3570);
    --secondary-foreground: oklch(0.3528 0.1025 292.6645);
    --muted: oklch(0.9580 0.0052 298.4720);
    --muted-foreground: oklch(0.5388 0.0177 285.7895);
    --accent: oklch(0.9449 0.0125 298.3352);
    --accent-foreground: oklch(0.3528 0.1025 292.6645);
    --destructive: oklch(0.6356 0.2082 25.3782);
    --destructive-foreground: oklch(0.9838 0.0035 247.8583);
    --border: oklch(0.8985 0.0127 298.3201);
    --input: oklch(0.8985 0.0127 298.3201);
    --ring: oklch(0.7074 0.1471 294.6214);
    --chart-1: oklch(0.7074 0.1471 294.6214);
    --chart-2: oklch(0.5388 0.0177 285.7895);
    --chart-3: oklch(0.5699 0.1054 295.1147);
    --chart-4: oklch(0.8534 0.0429 297.6837);
    --chart-5: oklch(0.9183 0.0280 298.0319);
    --sidebar: oklch(1.0000 0 0);
    --sidebar-foreground: oklch(0.2570 0.0143 285.3525);
    --sidebar-primary: oklch(0.7074 0.1471 294.6214);
    --sidebar-primary-foreground: oklch(0.2570 0.0143 285.3525);
    --sidebar-accent: oklch(0.9449 0.0125 298.3352);
    --sidebar-accent-foreground: oklch(0.3528 0.1025 292.6645);
    --sidebar-border: oklch(0.8985 0.0127 298.3201);
    --sidebar-ring: oklch(0.7074 0.1471 294.6214);
    --font-sans: Inter, sans-serif;
    --font-serif: Georgia, serif;
    --font-mono: JetBrains Mono, monospace;
    --radius: 2rem;
    --shadow-x: 0px;
    --shadow-y: 4px;
    --shadow-blur: 10px;
    --shadow-spread: 0px;
    --shadow-opacity: 0.05;
    --shadow-color: hsl(256, 20%, 20%);
    --shadow-2xs: 0px 4px 10px 0px hsl(256 20% 20% / 0.03);
    --shadow-xs: 0px 4px 10px 0px hsl(256 20% 20% / 0.03);
    --shadow-sm: 0px 4px 10px 0px hsl(256 20% 20% / 0.05), 0px 1px 2px -1px hsl(256 20% 20% / 0.05);
    --shadow: 0px 4px 10px 0px hsl(256 20% 20% / 0.05), 0px 1px 2px -1px hsl(256 20% 20% / 0.05);
    --shadow-md: 0px 4px 10px 0px hsl(256 20% 20% / 0.05), 0px 2px 4px -1px hsl(256 20% 20% / 0.05);
    --shadow-lg: 0px 4px 10px 0px hsl(256 20% 20% / 0.05), 0px 4px 6px -1px hsl(256 20% 20% / 0.05);
    --shadow-xl: 0px 4px 10px 0px hsl(256 20% 20% / 0.05), 0px 8px 10px -1px hsl(256 20% 20% / 0.05);
    --shadow-2xl: 0px 4px 10px 0px hsl(256 20% 20% / 0.13);
    --tracking-normal: -0.01em;
    --spacing: 0.25rem;
}

.dark {
    --background: oklch(0.2067 0.0100 285.4885);
    --foreground: oklch(0.9619 0 0);
    --card: oklch(0.2472 0.0134 285.3744);
    --card-foreground: oklch(0.9619 0 0);
    --popover: oklch(0.2472 0.0134 285.3744);
    --popover-foreground: oklch(0.9619 0 0);
    --primary: oklch(0.6753 0.1342 294.8200);
    --primary-foreground: oklch(0.2067 0.0100 285.4885);
    --secondary: oklch(0.2953 0.0371 296.2955);
    --secondary-foreground: oklch(0.8611 0.0321 297.9138);
    --muted: oklch(0.3130 0.0090 285.8670);
    --muted-foreground: oklch(0.7127 0.0128 286.0699);
    --accent: oklch(0.3259 0.0670 294.6721);
    --accent-foreground: oklch(0.9079 0.0211 298.1604);
    --destructive: oklch(0.4776 0.1631 25.9396);
    --destructive-foreground: oklch(0.9838 0.0035 247.8583);
    --border: oklch(0.3701 0.0113 285.8373);
    --input: oklch(0.3701 0.0113 285.8373);
    --ring: oklch(0.6753 0.1342 294.8200);
    --chart-1: oklch(0.6753 0.1342 294.8200);
    --chart-2: oklch(0.7127 0.0128 286.0699);
    --chart-3: oklch(0.5200 0.1186 294.1757);
    --chart-4: oklch(0.3908 0.1162 292.4813);
    --chart-5: oklch(0.3038 0.1079 290.8411);
    --sidebar: oklch(0.2272 0.0118 285.4252);
    --sidebar-foreground: oklch(0.9619 0 0);
    --sidebar-primary: oklch(0.6753 0.1342 294.8200);
    --sidebar-primary-foreground: oklch(0.2067 0.0100 285.4885);
    --sidebar-accent: oklch(0.3259 0.0670 294.6721);
    --sidebar-accent-foreground: oklch(0.9079 0.0211 298.1604);
    --sidebar-border: oklch(0.3701 0.0113 285.8373);
    --sidebar-ring: oklch(0.6753 0.1342 294.8200);
    --font-sans: Inter, sans-serif;
    --font-serif: Georgia, serif;
    --font-mono: JetBrains Mono, monospace;
    --radius: 2rem;
    --shadow-x: 0px;
    --shadow-y: 6px;
    --shadow-blur: 12px;
    --shadow-spread: 0px;
    --shadow-opacity: 0.3;
    --shadow-color: hsl(0, 0%, 0%);
    --shadow-2xs: 0px 6px 12px 0px hsl(0 0% 0% / 0.15);
    --shadow-xs: 0px 6px 12px 0px hsl(0 0% 0% / 0.15);
    --shadow-sm: 0px 6px 12px 0px hsl(0 0% 0% / 0.30), 0px 1px 2px -1px hsl(0 0% 0% / 0.30);
    --shadow: 0px 6px 12px 0px hsl(0 0% 0% / 0.30), 0px 1px 2px -1px hsl(0 0% 0% / 0.30);
    --shadow-md: 0px 6px 12px 0px hsl(0 0% 0% / 0.30), 0px 2px 4px -1px hsl(0 0% 0% / 0.30);
    --shadow-lg: 0px 6px 12px 0px hsl(0 0% 0% / 0.30), 0px 4px 6px -1px hsl(0 0% 0% / 0.30);
    --shadow-xl: 0px 6px 12px 0px hsl(0 0% 0% / 0.30), 0px 8px 10px -1px hsl(0 0% 0% / 0.30);
    --shadow-2xl: 0px 6px 12px 0px hsl(0 0% 0% / 0.75);
}

@theme inline {
    --color-background: var(--background);
    --color-foreground: var(--foreground);
    --color-card: var(--card);
    --color-card-foreground: var(--card-foreground);
    --color-popover: var(--popover);
    --color-popover-foreground: var(--popover-foreground);
    --color-primary: var(--primary);
    --color-primary-foreground: var(--primary-foreground);
    --color-secondary: var(--secondary);
    --color-secondary-foreground: var(--secondary-foreground);
    --color-muted: var(--muted);
    --color-muted-foreground: var(--muted-foreground);
    --color-accent: var(--accent);
    --color-accent-foreground: var(--accent-foreground);
    --color-destructive: var(--destructive);
    --color-destructive-foreground: var(--destructive-foreground);
    --color-border: var(--border);
    --color-input: var(--input);
    --color-ring: var(--ring);
    --color-chart-1: var(--chart-1);
    --color-chart-2: var(--chart-2);
    --color-chart-3: var(--chart-3);
    --color-chart-4: var(--chart-4);
    --color-chart-5: var(--chart-5);
    --color-sidebar: var(--sidebar);
    --color-sidebar-foreground: var(--sidebar-foreground);
    --color-sidebar-primary: var(--sidebar-primary);
    --color-sidebar-primary-foreground: var(--sidebar-primary-foreground);
    --color-sidebar-accent: var(--sidebar-accent);
    --color-sidebar-accent-foreground: var(--sidebar-accent-foreground);
    --color-sidebar-border: var(--sidebar-border);
    --color-sidebar-ring: var(--sidebar-ring);

    --font-sans: var(--font-sans);
    --font-mono: var(--font-mono);
    --font-serif: var(--font-serif);

    --radius-sm: calc(var(--radius) - 4px);
    --radius-md: calc(var(--radius) - 2px);
    --radius-lg: var(--radius);
    --radius-xl: calc(var(--radius) + 4px);

    --shadow-2xs: var(--shadow-2xs);
    --shadow-xs: var(--shadow-xs);
    --shadow-sm: var(--shadow-sm);
    --shadow: var(--shadow);
    --shadow-md: var(--shadow-md);
    --shadow-lg: var(--shadow-lg);
    --shadow-xl: var(--shadow-xl);
    --shadow-2xl: var(--shadow-2xl);

    --tracking-tighter: calc(var(--tracking-normal) - 0.05em);
    --tracking-tight: calc(var(--tracking-normal) - 0.025em);
    --tracking-normal: var(--tracking-normal);
    --tracking-wide: calc(var(--tracking-normal) + 0.025em);
    --tracking-wider: calc(var(--tracking-normal) + 0.05em);
    --tracking-widest: calc(var(--tracking-normal) + 0.1em);
}

@layer base {
    * {
        @apply border-border outline-ring/50;
    }
    body {
        @apply bg-background text-foreground;
        letter-spacing: var(--tracking-normal);
    }
}